<div [formGroup]="formGroup">
  <ng-container [ngSwitch]="controler.type">
    <ng-container *ngSwitchCase="'checkbox'">
      <input
        [type]="controler.type"
        [formControlName]="controler.key"
        ngModule
        [value]="controler.value"
      />
      Published
    </ng-container>
    <ng-container *ngSwitchCase="'input'">
      <input
        [type]="controler.type"
        [formControlName]="controler.key"
        [value]="controler.value"
      />
    </ng-container>
  </ng-container>
</div>
