<div [formGroup]="formGroup">
  <ng-container [ngSwitch]="lacontroler.type">
    <ng-container *ngSwitchCase="'checkbox'">
      <input
        [type]="lacontroler.type"
        [formControlName]="lacontroler.key"
        ngModule
        [value]="lacontroler.value"
      />
      Published
    </ng-container>
    <ng-container *ngSwitchCase="'input'">
      <input
        [type]="lacontroler.type"
        [formControlName]="lacontroler.key"
        [value]="lacontroler.value"
      />
    </ng-container>
    <app-input-array
      *ngSwitchCase="'inputArray'"
      [formControlName]="lacontroler.key"
      [value]="lacontroler.value"
    ></app-input-array>
  </ng-container>
</div>
