<!-- <form [formGroup]="form">
  <ng-container *ngFor="let ctr of formCtrl; let i = index">
    <ng-container [ngSwitch]="ctr.type">
      <ng-container *ngSwitchCase="'checkbox'">
        <input
          [type]="ctr.type"
          [formControlName]="ctr.key"
          ngModule
          [value]="ctr.value"
        />
        Published
      </ng-container>
      <ng-container *ngSwitchCase="'input'">
        <input
          [type]="ctr.type"
          [formControlName]="ctr.key"
          [value]="ctr.value"
        />
      </ng-container>
      <ng-container *ngSwitchCase="'array'">
        <div
          formArrayName="credentials"
          *ngFor="let creds of form.controls.credentials?.value; let i = index"
        >
          <ng-container [formGroupName]="i">
            <input placeholder="Username" formControlName="username" />
            <input placeholder="Password" formControlName="password" />
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  
</form> -->

<div>
  <h2>Credentials</h2>
  <button (click)="addCreds()">Add</button>
  <button (click)="getData()">getData</button>
  <br />
  <br />
  <textarea [value]="json" rows="20" cols="50"></textarea>
</div>
ß
<!-- ngTemplateOutlet -->
<div>
  <ng-container *ngTemplateOutlet="greet"></ng-container>
  <hr />
  <ng-container *ngTemplateOutlet="eng; context: myContext"></ng-container>
  <hr />
  <ng-container *ngTemplateOutlet="svk; context: myContext"></ng-container>
  <hr />

  <!-- ngTemplate example -->
  <ng-template #greet><span>Hello</span></ng-template>
  <ng-template #eng let-name
    ><span>Hello {{ name }}!</span></ng-template
  >
  <ng-template #svk let-person="localSk"
    ><span>Ahoj {{ person }}!</span></ng-template
  >
</div>

<!-- Test form base + array -->
<div>
  <ng-container *ngTemplateOutlet="formBase; context: formCtrl"> </ng-container>
</div>

<!-- formBase arry -->

<form [formGroup]="form">
  <!-- formBase base -->
  <ng-template #formBase let-data>
    <ng-container *ngFor="let ctr of data; let i = index">
      <ng-container [ngSwitch]="ctr.type">
        <ng-container *ngSwitchCase="'checkbox'">
          <input
            [type]="ctr.type"
            [formControlName]="ctr.key"
            ngModule
            [value]="ctr.value"
          />
          Published
        </ng-container>
        <ng-container *ngSwitchCase="'input'">
          <input
            [type]="ctr.type"
            [formControlName]="ctr.key"
            [value]="ctr.value"
          />
        </ng-container>
        <ng-container *ngSwitchCase="'array'">
          <div
            formArrayName="credentials"
            *ngFor="
              let creds of form.controls.credentials?.value;
              let i = index
            "
          >
            <ng-container [formGroupName]="i">
              <input placeholder="Username" formControlName="username" />
              <input placeholder="Password" formControlName="password" />
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</form>
